{% block choice_widget %}
{% apply spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endapply %}
<div style="clear:both"></div>
{% endblock choice_widget %}
