.sonata-ba-list input[type="radio"] {
   float:left;
   margin-right: 5px;
}

.sonata-ba-list input[type="radio"] + label {
   float:left;
   margin-right: 10px;
}

td.has-error ul {
   list-style-type: none;
   padding-left:0;
   color:#dd4b39;
}


form[name="settings"] .table td {
    vertical-align: middle;
}

form[name="settings"] .table-striped > tbody > tr.striped {
	background-color: #f9f9f9;
}
form[name="settings"] .table-striped > tbody > tr.not-striped {
	background-color: transparent;
}
